.main-page__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .main-page__logo {
    animation: main-page__logo infinite 20s linear;
  }
}

.main-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main-page__title {
  text-align: center;
}

.main-page__link {
  color: #61dafb;
}

@keyframes main-page__logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
