.event-list-manager-panel {
    margin: 10px;
}

.event-list-manager-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.event-list-manager-panel li {
    float: left;
}

.event-list-manager-panel li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.event-list-manager-panel li a:hover {
    background-color: #111111;
}

.event-list-manager-panel__clear-button {
    color: #e10000;
}

.event-list-manager-panel__add-button {
    color: greenyellow;
}